@charset "utf-8";

body {
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-color: black !important;
}

@media (min-width: 1200px) {
  body {
    background-position-x: center;
  }
}
